{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos—Panel Admin</title>
    <link rel="stylesheet" href="{% static 'menu_administracion/menu_admin.css' %}">
    <link rel="stylesheet" href="{% static 'gestion_productos/gestion_productos.css' %}">
</head>
<body>
<div class="admin-panel">
    <aside>
        <div class="brand">Morita</div>
        <nav>
                <a href="{% url 'prinAdmins'%}">Dashboard</a>
                <a class="active" href="{% url 'gestProductos'%}">Productos</a>
                <a href="#">Pedidos</a>
                <a href="#">Finanzas</a>
                <a href="{% url 'gestEmpleados'%}">Empleados</a>
        </nav>
        <div class="admin-info">
            <span> <strong>{{ empleado.persona.nombre }} {{ empleado.persona.primer_apellido }}</strong> </span>
            <span> <strong>{{ empleado.persona.correo}}</strong> </span>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="cerrar-sesion-btn" type="submit">Cerrar sesión</button>
            </form>
        </div>
    </aside>

    <main>
        <header>

            <h1>Gestión de productos</h1>
            <ul class="tabs">
                <li class="active">Lista</li>
                <li><a href="{% url 'nuevoProducto' %}">Agregar</a></li>
                <li><a href="{% url 'gestCategorias' %}">Categorías</a></li>
                <li><a href="{% url 'gestPresentacion' %}">Presentaciones</a></li>
            </ul>
        </header>

        <section>
            <div class="top-bar">
                <a href="{% url 'nuevoProducto' %}" class="pink-btn">Agregar producto</a>
                <div class="search-container">
                    <form method="get" action="">
                        <input type="text" name="q" placeholder="Buscar por nombre o categoría…"
                               value="{{ request.GET.q }}">
                        <button type="submit" class="boton-s">Buscar</button>
                    </form>
                </div>
            </div>

            <h3>Lista de productos</h3>
            <table>
                <thead>
                <tr>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for p in productos %}
                <tr>
                    <td>
                        <img src="{{ p.imagen.url }}" class="product-img" alt="{{ p.nombre }}">
                        {{ p.nombre }}
                    </td>
                    <td>{{ p.descripcion }}</td>
                    <td>{{ p.categoria.nombre }}</td>
                    <td>
                        {% if p.precios %}
                            {% for precio in p.precios %}
                                {{ precio.presentacion.nombre }}: ${{ precio.precio }}<br>
                            {% endfor %}
                        {% else %}
                            Sin precios
                        {% endif %}
                    </td>
                    <td><a href="editarProducto/{{p.id}}" class="edit-btn">✏️</a></td>
                    <td><a href="eliminarProducto/{{p.id}}" class="delete-btn">🗑️</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="no-products">No hay productos registrados.</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</div>
</body>
</html>