{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Categoría - Morita</title>
    <link rel="stylesheet" href="{% static 'menu_administracion/menu_admin.css' %}">
    <link rel="stylesheet" href="{% static 'gestion_productos/gestion_productos.css' %}">
</head>
<body>
<div class="admin-panel">
    <aside>
        <div class="brand">Morita</div>
        <nav>
            <a href="{% url 'prinAdmins'%}">Dashboard</a>
            <a class="active" href="{% url 'gestProductos'%}">Productos</a>
            <a href="#">Pedidos</a>
            <a href="#">Finanzas</a>
            <a href="{% url 'gestEmpleados'%}">Empleados</a>
        </nav>
        <div class="admin-info">
            <span><strong>{{ empleado.persona.nombre }} {{ empleado.persona.primer_apellido }}</strong></span>
            <span><strong>{{ empleado.persona.correo }}</strong></span>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="cerrar-sesion-btn" type="submit">Cerrar sesión</button>
            </form>
        </div>
    </aside>
    <main>
        <header>
            <h1>Editar Categoría: {{ categoria_editar.nombre }}</h1>
            <ul class="tabs">
                <li><a href="{% url 'gestCategorias' %}">Lista</a></li>
                <li><a href="{% url 'nuevaCategoria' %}">Agregar</a></li>
            </ul>
        </header>

        <section class="form-section">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Campo del formulario de Categoría -->
                <div class="form-group">
                    <label for="id_nombre">Nombre de la Categoría</label>
                    {{ formCategoria.nombre }}
                    {{ formCategoria.nombre.errors }}
                </div>
                <div class="form-group">
                    <label for="id_imagen">Imagen de la Categoría</label>
                    {{ formCategoria.imagen }}
                    {{ formCategoria.imagen.errors }}
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn-primary">Guardar Cambios</button>
                    <a href="{% url 'gestCategorias' %}" class="btn-secondary">Cancelar</a>
                </div>
            </form>
        </section>
    </main>
</div>
</body>
</html>